#about {
    position: relative;
    .blurred {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 40rem;
        background: red;
    }
    margin: 0 auto;
    .about-hero {
        img {
            margin: 0 auto;
            display: block;
        }
    }
    section {
        margin: 0 auto;
        max-width: $inner-width;
        padding: $padding * 2 $padding;
        p {
            font-size: 1.6rem;
        }
    }
}
