#gallery {
    margin: 0 auto;
    max-width: 90rem;
    padding: $padding;
    div {
        img {
            opacity: 0.8;
            transition: all 0.2s ease-in-out;
            &:hover {
                opacity: 1;
                transform: scale(1.05);
            }
        }
    }
}
