header {
    background: #666;
    padding: 0rem $padding;
    nav {
        max-width: $max-width;
        display: flex;
        margin: 0 auto;
        align-items: center;
        .logo {
            flex: 1;
            img {
                display: block;
            }
        }
        ul {
            flex: 3;
            text-align: right;
            li {
                display: inline;
                a {
                    font-size: 1.6rem;
                    padding: 0rem 1rem;
                    font-family: $header-font;
                    color: #fff;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        color: $warning;
                    }
                }
            }
        }
    }
}
