#intro {
    background: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    h1 {
        font-family: $header-font;
        font-size: 4rem;
    }
    .scroll {
        position: absolute;
        bottom: 0rem;
        text-align: center;
        left: 50%;
        font-size: 1.25rem;
        transform: translate(-50%, -50%);
    }
}
