@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;600&family=Viga&display=swap");
$primary-font: "Epilogue", sans-serif;
$header-font: "Viga", sans-serif;

$primary-color: #ac824a;
$secondary-color: #f0d341;
$tertiary-color: #a4efa4;
$danger: #b03033;
$warning: #fff600;
$success: #73ba73;

$grey: #666;

$padding: 1.5rem;
$max-width: 120rem;
$inner-width: 65rem;

@mixin letterspacing($font-size: 0.8rem) {
    font-size: $font-size;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
