@import "./reset.css";
@import "../../node_modules/bulma/bulma.sass";
@import "./variables";
@import "./header";
@import "./main";
@import "./intro";
@import "./about";
@import "./gallery";
@import "discography";
@import "./blog";
@import "./contact";
@import "./footer";

html {
    font-size: 62.5%;
    font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $header-font;
}

p,
article,
section,
a {
    font-family: $primary-font;
}

p {
    padding: $padding 0rem;
}

//helper + utility classes

.full-width {
    width: 100%;
}

.main-wrapper {
    max-width: $max-width;
}

.centered {
    margin: 0 auto;
}

.relative {
    position: relative;
}

.y-padding {
    padding: $padding 0rem;
}

.y2-padding {
    padding: $padding * 2 0rem;
}

.x-padding {
    padding: 0rem $padding;
}

.x2-padding {
    padding: 0rem $padding * 2;
}

.xy-padding {
    padding: $padding;
}

.spacer {
    padding: 3rem 0rem;
}
